.grid {
    height: 10%;
}

.column {
    max-width: 450px;
}

@media screen and (max-width:775px) {
    .contain {
        transform: translateY(150%)
    }
.passError{
    margin-top: 1rem;
    color: red;
}